*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.header{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1710px;
    height: 1100px;
    background-image: url(assets/111.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#texture{
    position: absolute;
    width: 1710px;
    margin-left:-730px;
    margin-top:-250px;
}

#overlay1{
    position:absolute;
    width:500px;
    margin-top: 65%;
    margin-left:488px;
    height:800px
}

.main1{
    display:flex;
    flex-direction: column;
    /* align-items: start; */
    margin-bottom: auto;
    margin-top:100px;
    align-items: center;

}

.main-child1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: lighter;
    font-size: 29px;
    justify-content: space-between;
}

#heart{
    margin-right:10px
}

#h1{
    font-weight: lighter;
}
#h2{
    display: flex;
    font-weight: lighter;
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 20px;
}

.all_li{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-right: 100px;

}

.nav1{
    display:flex;
    justify-content: center;
    margin-top:10px;
    justify-content: space-between;
}


#li1{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
}
li{
    margin-right:60px;
    cursor: pointer;
    font-size:20px;
}
.account{
    display: flex;
    flex-direction: column;
    font-size:13px;
    align-items:center;
    margin-left: 1310px;
    margin-top: -81px;

}

#account1{
    color: rgb(87, 84, 84);
}

#button1{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

#button2{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:325px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
}

#button1:hover{
    background-color:grey;
}
#button2:hover{
    background-color:grey;
}

.exceptli1{
    color: rgb(87, 84, 84);
    transition: color 0.3s ease;
}

.exceptli1:hover{
    color:black;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left:-1000px;
    margin-top:100px;
    justify-content: space-between;
}

#p1{
    color: rgb(87, 84, 84);
    font-size: 15px;
}







.header2{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: white;
    width: 1710px;
    height: 983px;
}

.main2{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.imgwhole1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#wedding2{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
    margin-bottom: 15px;
}

.content2{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 100px;
}


#button3{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#button3:hover{
    background-color:grey;
}


#header2-img{
    margin-top: 100px;
    width:760px;
}


#h2_1{
    display: flex;
    font-weight: lighter;
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 20px;
    margin-bottom: 50px;
}


.all_li2{
    list-style: none;
    text-decoration:  rgb(87, 84, 84) underline;
}


#p2{
    margin-bottom: 20px;
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#hi1{
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(87, 84, 84);
}


