*{
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    box-sizing: border-box;

}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700 */
/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700 */


/* 
.comfortaa-uniquifier {
  font-family: Comfortaa;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */



.comfortaa-header {
    font-family: "Comfortaa";
    font-optical-sizing: auto;
    font-weight: 500; /* Replace <weight> with a specific value, e.g., 500 */
    font-style: normal;
}

.header{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 1710px; */

    height: 1100px;
    background-image: url(assets/111.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#texture{
    position: absolute;
    width: 1710px;
    /* margin-left:-730px;
    margin-top:-265px; */;
    top:-180px;
    width: 100%;
}

#overlay1{
    position:absolute;
    width:500px;
    /* margin-top: 65%;
    margin-left:508px; */
    right:0;
    top:270px;
    height:800px;
}


.main1{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: start;
    /* margin-bottom: auto;
    margin-top:100px; */
    top:100px;
    align-items: center;
}

.main-child1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: lighter;
    font-size: 29px;
    justify-content: space-between;
}

#heart{
    margin-right:10px
}

#h1{
    font-weight: lighter;
}
#h2{
    /* position: absolute; */
    display: flex;
    font-weight: lighter;
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 20px;
    /* bottom:90px; */
    color: rgb(55, 54, 54);
}

.all_li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-right: 100px;
}

.nav1{
    display:flex;
    justify-content: center;
    margin-top:10px;
    justify-content: space-between;
    width:100%;
}


#li1{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
}
li{
    margin-right:60px;
    cursor: pointer;
    font-size:20px;
}
.account{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size:13px;
    align-items:center;
    /* margin-left: 1310px; */
    /* margin-top: -81px; */
    left:1200px;
    top:70px;

}

#account1{
    color: rgb(87, 84, 84);
}

#button1{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

#button2{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:325px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
}

#button1:hover{
    background-color:grey;
}
#button2:hover{
    background-color:grey;
}

.exceptli1{
    color: rgb(87, 84, 84);
    transition: color 0.3s ease;
}

.exceptli1:hover{
    color:black;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin-left:-1000px; */
    top:225px;
    left: -100px;

    /* margin-top:100px; */
    justify-content: space-between;
}

#p1{
    color: rgb(87, 84, 84);
    font-size: 15px;
}


/* Example media query for smaller screens  425 807 */ 
@media screen and (max-width: 600px) {


    .header{
        position: relative;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 420px;
        height: 800px;
        background-image: url(assets/111.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #texture{
    position: absolute;
    /* top: -180px;
    width:700px;
    height:320px;
    left:-100px; */
    width:0;
    right:0;
    top:0;
    height:0;
    bottom:0;
    left:0;
    
    }


    .main1{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: start;
        /* margin-bottom: auto;
        margin-top:100px; */
    top:10px;
    align-items: center;
    }

    .main-child1{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left:-200px;
    }
    
    #heart{
        width:20px;
        
    }
    #h1{
        /* width:30px; */
        font-size:19px;
    }
    #overlay1{
        position:absolute;
        width:0;
        /* margin-top: 65%;
        margin-left:508px; */
        right:0;
        top:0;
        height:0;
        bottom:0;
        left:0;
    }

    .all_li{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
    .nav1{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:flex;
        justify-content: center;
        justify-content: space-between;
    }


    .content{
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        /* margin-left:-1000px; */
        top:80px;
        /* left: -150px; */
        /* margin-top:100px; */
        justify-content: space-between;
        justify-content: center;
        justify-items: center;
    }

    .content-content1{
        align-items: center;
        width:1000px;

    }


    #h2{
        position: absolute;
        top:-10px;
        display: flex;
        font-weight: lighter;
        font-size: 20px;
        line-height: 22px;
        /* margin-bottom: 20px; */
        /* bottom:90px; */
        color: rgb(55, 54, 54);
        text-align: center;
        left:-30px;

    }


    #button2{
        position: absolute;
        top:40px;
        border-radius: 40px;
        border:0;
        outline:0;
        background-color: rgb(68, 65, 65);
        color:azure;
        width:225px;
        height:36px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: lighter;
        left:-15px;
    }


    #p1{
        position: absolute;
        color: rgb(87, 84, 84);
        font-size: 13px;
        top:85px;
        left:-98px;

    }








    #button2:hover{
        background-color:grey;
    }


}


.header2{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: white;
    /* width: 1710px; */
    width: 100%;
    /* height: 983px; */
    height: 100vh;
}

.main2{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.imgwhole1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#wedding2{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
    margin-bottom: 15px;
}

.content2{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 100px;
}


#button3{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#button3:hover{
    background-color:grey;
}


#header2-img{
    margin-top: 100px;
    width:760px;
}


#h2_1{
    display: flex;
    font-weight: lighter;
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 20px;
    margin-bottom: 50px;
    color: rgb(55, 54, 54);
}


.all_li2{
    list-style: none;
    text-decoration:  rgb(87, 84, 84) underline;
}


#p2{
    margin-bottom: 20px;
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#hi1{
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(87, 84, 84);
}










.header3{
    /* display:flex; */
    background-image: url(assets/Rectangle.png);
    /* width: 1710px; */
    height: 983px;
    /* flex-direction: row; */
    width:100%;

}

#header3_h{
    font-weight: lighter;
    width:300px;
    font-size: 50px;
}

#heart2{
    margin-right: 10px;
}

.heading1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-align: start; */
    width:305px;
    height:64px;
}

#imgwhole3{
    position: relative;
    height: 900px;
}

.main3{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    /* justify-content: center; */
}

#hi3{
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(87, 84, 84);
    text-decoration: underline;
    width:270px;
}

.all_li3{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top:15px;
    margin-left: 50px;
}

.content3_1{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom:20%;
    margin-left: 30%;
    font-size: 29px;
    justify-content: center;
    justify-items: center;
    /* align-items: start; */
}

.buttonmain{
    display: flex;
    flex-direction: column;
}

#button4{
    display: flex;
    border: solid black;
    border-radius: 40px;
    height: 46px;
    width: 160px;
    margin-top: 20px;
    width:419px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    justify-content: space-between;
    align-items: center;
}

#button4:hover{
    background-color: rgb(222, 222, 222);
}
#h2_2{
    font-size: 35px;
    color: rgb(55, 54, 54);
}

.content3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    margin-left: 150px;
    height: 470px;
}


.buttonmain{

    margin-top: 0px;
}

#triangleimg{
    height: 25px;
    margin-right: 20px;
}

#buttonkatext{
    margin-left: 10px;
}

#button5{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:325px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
    margin-top: 25px;
}

#button5:hover{
    background-color:grey;
}


.p3{
    margin-bottom: 20px;
    color: rgb(87, 84, 84);
    font-size: 15px;
}
#button6{
    margin-bottom: -256.6px;
    border:0;
    outline:0;
    background-color: rgb(28, 209, 209);
    height: 60px;
    width:250px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

#button6:hover{
    background-color: rgb(11, 222, 222);
}
.button6-father{
    display: flex;
    align-items: end;
    justify-content: space-between;
    justify-items: end;
}








.header4{
    /* display: flex;
    flex-direction: row; */
    position: relative;
    background-image: url(assets/Image\ \(3\).png);
    width: 1710px;
    height: 983px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: end;
    align-items: flex-end;
}

.main4{

    display: flex;
    justify-content:flex-end;
    flex-direction: cloumn;
    /* justify-items: center; */

}

.content4{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:400px;
    right: 250px;
    bottom:230px;
}

#wedding4{
    font-family: cursive;
    font-size: 40px;
    font-weight:bolder;
    color: rgb(50, 47, 47);
}

#header4_h{

    font-size: 35px;
    color: rgb(55, 54, 54);
    width:400px;
}

#heart3{
    position: relative;
    bottom:-30px;
    width:70px;
    height:70px;
}

#vectorimg{
    position: absolute;
    right:200px;
    bottom:0px;
}

.header4_h2{
    text-align: center;
    width:400px;
    margin-top: 10px;
}

.header4_weeding{
    text-align: center;
    width:400px;
}






.header5{
    position: relative;
    width: 1710px;
    height: 983px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0f8f8
}

.main5{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:200px;
}

.main5-image1{
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    bottom:-80px;
}
.main5-image2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
    top:-80px;
}

#main5-image1-child1,#main5-image1-child2,#main5-image2-child1,#main5-image2-child2{
    height:270px;
    width:270px;
}

.content5{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;

}

.main5-images{
    display: flex;
    /* justify-content: space-between; */
    gap:20px;
}


#content5_h{
    font-size: 40px;
    color: rgb(55, 54, 54);
    text-align: center;
}

#p4{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#button7{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:225px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 27px;
    font-weight: lighter;
}

#button7:hover{
    background-color:grey;
}








.header6{
    width: 1710px;
    height: 983px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header6-images {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header6-image1{
    position: relative;
    top:70px;
    left: -5%;
}

#header6-image2{
    position: absolute;
    top:40%;
    left:148.3%; /* Adjust as needed */
    transform: translate(-50%, -50%);
}


#button8{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#button8:hover{
    background-color:grey;
}

.all_li4{
    list-style: none;
    text-decoration:  rgb(87, 84, 84) underline;
}


.content6{
    display: flex;
    flex-direction: row;
    gap:40%;
    width:1710px;
}

.content6-2ndpart{
    position: relative;
    left: -150px;
}


#content6-h{
    position: relative;
    font-size: 36px;
    color: rgb(55, 54, 54);
    text-align: center;

}

.content6-h1{
    text-align: start;
    position: relative;
    width: 1000px;
    height: 206px;
    right: -240px;
    top:95px;
}

#heart4{
    position: absolute;
    bottom:340px;
    width:70px;
    height:70px;
}

#p5{
    color: rgb(87, 84, 84);
    font-size: 15px;
}


.content6-2ndpart{
    position: relative;
    display: flex;
    flex-direction: column;
    right: 280px;
    gap:10px;
}



.header7{
    position: relative;
    background-image: url(assets/Image\ \(11\).png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#texture2-id{
    position: relative;
    width: 1710px;
    height: 390px;
    top:-100px
/* margin-left:-730px;
margin-top:-265px; */;
    /* top:-180px; */
/* top: -180px;
width:700px;
height:320px;
left:-100px; */

}


.heart5{
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart5-id{
    position: relative;
    height:70px;
    width:70px;
    top:101px;
    left:14px;
}

#whiteheart-id1{
    position: relative;
    top:100px;
    height:100px;
    right:-100px;
}







.header8{
    width: 1710px;
    height: 983px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
}


.content8-buttons{
    display: flex;
    flex-direction: column;
}
#content8-button1,#content8-button1{
    display: flex;
    border: solid black;
    border-radius: 40px;
    height: 46px;
    /* width: 160px; */
    margin-top: 20px;
    width:419px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    justify-content: space-between;
    align-items: center;
}

#content8-button1:hover{
    background-color: rgb(222, 222, 222);
}



#content8-button2{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    /* width:325px; */
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
    margin-top: 25px;
    width:419px;
}

#content8-button2:hover{
    background-color:grey;
}

#button8katext{
    margin-left: 10px;
}

#p6{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#content8-button3{
    margin-bottom: -256.6px;
    border:0;
    outline:0;
    background-color: rgb(28, 209, 209);
    height: 60px;
    width:250px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}
#content8-button3:hover{
    background-color: rgb(11, 222, 222);
}

.content8-button3-father{
    /* display: flex;
    align-items: end;
    justify-content: space-between;
    justify-items: end; */
}

#content8-id{
    font-size: 35px;
    color: rgb(55, 54, 54);
}