*{
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    box-sizing: border-box;

}


.body{
    width:100%;

    /* overflow: hidden; */
}

/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700 */
/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700 */


/* 
.comfortaa-uniquifier {
  font-family: Comfortaa;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */



.comfortaa-header {
    font-family: "Comfortaa";
    font-optical-sizing: auto;
    font-weight: 500; /* Replace <weight> with a specific value, e.g., 500 */
    font-style: normal;
}

.header{
    position: relative;
    /* display: flex;  */
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* width: 1710px;
    /* flex-wrap: wrap; */
    height: 1100px;
    /* height: 100vh; */
    background-image: url(assets/111.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
}

#texture{
    position: absolute;
    width: 1710px;
    /* margin-left:-730px;
    margin-top:-265px; */;
    top:-180px;
    width: 100%;
}

#overlay1{

    position:absolute;
    width:500px;
    /* margin-top: 65%;
    margin-left:508px; */
    right:0;
    top:270px;
    height:800px;
}


.main1{
    position: relative;
    display:flex;
    flex-direction: column;
    /* align-items: start; */
    /* margin-bottom: auto;
    margin-top:100px; */
    top:100px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.main-child1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-weight: lighter;
    font-size: 29px;
    /* justify-content: space-between */
    /* justify-content: center; */
    gap:10px;

}


.main1-heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap:10px;
}


#menu path{
    transition: fill 0.3s ease;
}

#menu{
    position: absolute;
    right: 100px;

}

#menu:hover path{
    fill: black;
    cursor: pointer;
}





#close path{
    transition: fill 0.3s ease;
}

#close{
    position: absolute;
    right: 260px;
    top:20px;

}

#close:hover path{
    fill: black;
    cursor: pointer;
}



.nav1andaccount{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap:180px;
}

.nav1{
    /* position: absolute; */
    display: flex;
}

.nav1-father{
    display: flex;
    position: relative;
    left:300px;

}


@media (max-width: 1400px) {
    .header1-img2 {
        display: none;
    }
}


.all_li_sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width:250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.485);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:40px;


}


#li1_sidebar{
    position: relative;
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
    left:60px;

}


.exceptli1_sidebar{
    position: relative;
    color: rgb(87, 84, 84);
    transition: color 0.3s ease;
    left:40px;

}

.exceptli1_sidebar:hover{
    color:black;
}


#menu{
    display: none;
}

@media(max-width:800px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
    }
}

@media(max-width:1623px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
}


@media(max-width:1404px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
    .account{
        position: relative;
        left:-290px;
    }
}


@media(max-width:1404px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
    .account{
        position: relative;
        left:-290px;
    }
}

@media(max-width:1459px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
    .account{
        position: relative;
        left:-290px;
    }
}


@media (max-width:1414px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
    .account{
        position: relative;
        left:-290px;
    }

    .content{
        position: absolute;
        margin-left:-110px;
    }
}












@media (max-width:1212px){
    .exceptli1, #li1{
        display: none;
    }
    #menu{
        display: block;
        margin-top: 50px;
    }
    .account{
        position: relative;
        left:-290px;
    }

    .content{
        position: absolute;
        margin-left:-110px;
    }

    #content-content1{
        position: relative;
        color: rgb(55, 54, 54);
    }

    #h2{
        position: absolute;
        top:70px;
        color: rgb(55, 54, 54);
        font-size: 20px;

    }


    #button2{
        position: absolute;
        left:800px;
        top:90px;
    }

    #p1{
        display: none;
    }
}

@media (max-width:1137px){
    #button2{
        position: absolute;
        left:750px;
        width: 100%;
    }
}

@media (max-width:1088px){
    #button2{
        position: absolute;
        left:720px;
    }
}

@media (max-width:1058px){
    .main1-heading{
        position: relative;
        top:-60px;
        left:40px;
    }
    #heart{
        width:20px;
        height: 20px;
    }

    #h1{
        font-size:30px;
    }

    #h2{
        top:-190px;
        left:362px;
        width:100%;
        text-align: center;
    }



    #button2{
        position: relative;
        top: -90px;
        left:400px;
    }
}


@media (max-width:998px){
    #h2{
        left:332px;
    }
    #button2{
        left:380px;
    }
}



@media (max-width:894px){
    #h2{
        left:300px;
    }
    #button2{
        left:340px;
    }
}


@media (max-width:878px){
    #h2{
        left:260px;
    }
    #button2{
        left:300px;
    }
}




.all_li_sidebar li{
    width: 100%;
    list-style: none;
}




.all_li{
    display:none;
}



#h1{
    font-weight: lighter;
}
#h2{
    /* position: relative; */
    display: flex;
    font-weight: lighter;
    font-size: 200%;
    line-height: 37px;
    margin-bottom: 20px;
    color: rgb(55, 54, 54);
}

.all_li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items: center;
}


#li1{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
}
li{
    margin-right:60px;
    cursor: pointer;
    font-size:20px;
}
.account{
    display: flex;
    flex-direction: column;
    font-size:13px;
    align-items:center;
    margin-left: 180px;
    /* margin-top: -81px; */
    
}

#account1{
    color: rgb(87, 84, 84);
}

#button1{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

#button2{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:325px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
}

#button1:hover{
    background-color:grey;
}
#button2:hover{
    background-color:grey;
}

.exceptli1{
    color: rgb(87, 84, 84);
    transition: color 0.3s ease;
}

.exceptli1:hover{
    color:black;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;

    /* margin-left:-1000px; */
    top:190px;
    left: 120px;
    width: 480px;
    justify-content: space-between;
}



#p1{
    position: relative;
    color: rgb(87, 84, 84);
    font-size: 15px;
}




/* Example media query for smaller screens  425 807 */ 
@media screen and (max-width: 800px) {


    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:100%;
        height: 100vh;
        background-image: url(assets/111.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }





    .main1{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: start;

        /* margin-bottom: auto;
        margin-top:100px; */
    /* top:10px; */
    align-items: center;
    justify-content: center;
    }


    .content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        top:-430px;
        left: 210px;
        align-items: center;
        justify-content: center;
    }



    .main1-heading{
        position: relative;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:0;
    }

    .main-child1{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top:-390px;
        gap: 0;
        left:-20px;
    }

    #menu path{
        transition: fill 0.3s ease;
    }

    #menu{
        position: relative;
        left:275px;
        top:-130px;

    }

    #menu:hover path{
        fill: black;
    }


    #li1,.exceptli1{
        display: none;
    }



    #close path{
        transition: fill 0.3s ease;
    }
    
    #close{
        position: static;
        /* right: 900px; */
    }
    
    #close:hover path{
        fill: black;
        cursor: pointer;
    }

    
    #heart{
        width:20px;
        
    }
    #h1{
        /* width:30px; */
        font-size:17px;
    }
    #overlay1{
        position:absolute;
        width:0;
        /* margin-top: 65%;
        margin-left:508px; */
        right:0;
        top:0;
        height:0;
        bottom:0;
        left:0;
    }

    .all_li{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
    .nav1{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:flex;
        justify-content: center;
        justify-content: space-between;
    }


    .all_li_sidebar{
        width: 100%;
    }


    .account{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size:11px;
        align-items:center;
        left: 205px;
        top:-290px;
        gap:0;
    }
    
    #account1{
        color: rgb(87, 84, 84);
    }




    .content-content1{
        align-items: center;
        width:1000px;

    }


    #h2{
        position: absolute;
        top:-10px;
        display: flex;
        font-weight: lighter;
        font-size: 20px;
        line-height: 22px;
        /* margin-bottom: 20px; */
        /* bottom:90px; */
        color: rgb(55, 54, 54);
        text-align: center;
        left:-30px;

    }


    #button2{
        position: absolute;
        top:40px;
        border-radius: 40px;
        border:0;
        outline:0;
        background-color: rgb(68, 65, 65);
        color:azure;
        width:225px;
        height:36px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: lighter;
        left:-15px;
    }


    #p1{
        display: inline-block;
        position: absolute;
        color: rgb(87, 84, 84);
        font-size: 13px;
        top:85px;
        left:-98px;
    }


    #button1{
        border-radius: 40px;
        border:0;
        outline:0;
        background-color: rgb(68, 65, 65);
        color:white;
        height: 36px;
        width: 140px;
        margin-top: 10px;
        cursor:pointer;
        font-size:27px;
        font-weight: lighter;
        transition: background-color 0.3s ease;
    }








    #button2:hover{
        background-color:grey;
    }


}



@media (max-width:709px){
    .account{
        left:150px;
        width:30%;
    }
}

@media (max-width:684px){
    .account{
        left:150px;
        width:10%;
    }
}

@media (max-width:614px){
    .account{
        left:100px;
        width:5%;
    }
}

@media (max-width:547px){
    .account{
        top:-310px;
        left:-30px;
        width:100%;
    }
}

@media (max-width:475px){
    .account{
        top:-320px;
        left:-65px;
        width:100%;
    }
}

@media (max-width:435px){
    .account{
        top:-320px;
        left:-90px;
        width:100%;
    }
}

@media (max-width:425px){
    .account{
        top:-320px;
        left:-90px;
        width:100%;
    }

    .content{
        left:190px;
    }
}


@media (max-width:532px){
    #menu{
        left:250px;
    }
}

@media (max-width:532px){
    #menu{
        left:180px;
    }
}


.header2{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: white;
    /* width: 1710px; */
    width: 100%;
    /* height: 983px; */
    height: 100vh;
    overflow: hidden;
}



.main2{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.imgwhole1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#wedding2{
    font-family: cursive;
    font-size: 40px;
    /* margin-right:460px; */
    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
    margin-bottom: 15px;
}

.content2{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 100px;
}


#button3{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#button3:hover{
    background-color:grey;
}


#header2-img{
    margin-top: 100px;
    /* width:760px; */
    width:100%;
}


#h2_1{
    display: flex;
    font-weight: lighter;
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 20px;
    margin-bottom: 50px;
    color: rgb(55, 54, 54);
}


.all_li2{
    list-style: none;
    text-decoration:  rgb(87, 84, 84) underline;
}


#p2{
    margin-bottom: 20px;
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#hi1{
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(87, 84, 84);
}










.header3{
    display:flex;
    align-items: center;
    background-image: url(assets/Rectangle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    gap:190px;

    /* width: 1710px; */
    /* height: 983px; */
    height:100vh;
    /* flex-direction: column */
    width:100%;
    overflow: hidden;
}


@media screen and (max-width:1443px){
    #imgwhole2{
        width:90%;
    }
}


@media screen and (max-width:1238px){
    #imgwhole2{
        display: none;
    }

    .content3_1,.helllo,.heading1,#heart2,#header3_h {
        display: none;
    }

    .content3{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left:20%;
        top:-150px;
    }

    .button6-father{
        position: absolute;
        margin-top: 150px;
    }
}

@media screen and (max-width:995px){
    .content3{
        left:10%;
    }
}

@media screen and (max-width:995px){
    .content3{
        left:-5%;
    }
}

@media screen and (max-width:582px){
    .content3{
        left:-20%;
    }
}

@media screen and (max-width:512px){
    .content3{
        left:-30%;
    }
}

@media screen and (max-width:473px){
    .content3{
        left:-40%;
    }
}

@media screen and (max-width:439px){
    .content3{
        left:-44.8%;
    }
}

@media screen and (max-width:415px){
    .content3{
        width:70%;
        left:-47%;
    }
    #h2_2{
        position: relative;
        left:10px;
    }
}





.main3{
    display: flex;
    position: relative;
}

#imgwhole2{

}

.imgwhole2{

}



.content3_1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top:26%;
    left:60%;
    gap:10px;
}

.heading1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}



#header3_h{
    font-weight: lighter;
    width:300px;
    font-size: 50px;
}

#heart2{

}



.helllo{

}



.all_li3{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 60px;
    gap:5px;
}


#hi3{
    font-size: 15px;
    color: rgb(87, 84, 84);
    text-decoration: underline;
    list-style: none;
    margin-right:0px;
    width: 100%;
}



.content3{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* margin-left: 150px; */
    height:619px;
    margin-top: 200px;
    gap:10px;
}


#h2_2{
    font-size: 35px;
    color: rgb(55, 54, 54);
}



.buttonmain{
    display: flex;
    flex-direction: column;
}

#button4{
    display: flex;
    border: solid black;
    border-radius: 40px;
    height: 46px;
    margin-top: 20px;
    width:419px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    justify-content: space-between;
    align-items: center;
}

#button4:hover{
    background-color: rgb(222, 222, 222);
}






.buttonmain{
    margin-bottom:20px;
}


#buttonkatext{
    margin-left: 10px;
}


#triangleimg{
    height: 25px;
    margin-right: 20px;
}


#button5{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:419px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 27px;
    font-weight: lighter;
    
}

#button5:hover{
    background-color:grey;
}


.p3{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

.button6-father{
    position: absolute;
    top:609px;
}


#button6{
    border:0;
    outline:0;
    background-color: rgb(28, 209, 209);
    height: 60px;
    width:250px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

#button6:hover{
    background-color: rgb(11, 222, 222);
}






.header4{

    position: relative;
    background-image: url(assets/Image\ \(3\).png);
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: end;
    align-items: flex-end;
    overflow: hidden;
}

.whole{
    position: relative;
}
#vectorimg{
    position: relative;
    bottom: -174px;
    right: 190px;
}




.header4_h2{
    position: relative;
    top:-220px;
    left:-30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#heart3{
    width:70px;
    height:70px;

}

#wedding4{
    font-family: cursive;
    font-size: 40px;

    font-weight:bolder;
    margin-right:50px;
    color: rgb(50, 47, 47);
}


#header4_h{
    font-size: 35px;
    line-height: 37px;
    color: rgb(55, 54, 54);
}










/* Responsive Styles */
@media screen and (max-width: 945px) {
    #vectorimg {
        width: 80%;
        left: -34px;
        top:150px;
    }


    .header4_h2{
        top:-145px;
        left:30px;
    }

    #wedding4{
        font-size: 30px;
    }

    #header4_h{
        font-size: 25px;
    }

    #heart3{
        width:50px;
        height: 50px;
    }


}

@media screen and (max-width: 795px) {
    #vectorimg {
        width: 80%;
        left: 14px;
    }


    .header4_h2{
        top:-160px;
        left:60px;
    }
    #wedding4{
        font-size: 30px;
    }

    #header4_h{
        font-size: 25px;
    }

    #heart3{
        width:50px;
        height: 50px;
    }
    .header4{
        height:800px;
    }

}





@media screen and (max-width: 661px){
    .header4{
        height: 500px;
    }

    .header4_h2{
        top:-130px;
        left:60px;
    }
}


@media screen and (max-width: 618px){
    .header4{
        height: 400px;
    }

    .header4_h2{
        top:-130px;
        left:60px;
    }
}



@media screen and (max-width: 594px){
    .header4{
        height: 400px;
    }

    .header4_h2{
        top:-130px;
        left:40px;
    }
}



@media screen and (max-width: 551px){

    #vectorimg {
        width: 80%;
        top:104px;
    }

    .header4{
        height: 400px;
    }

    .header4_h2{
        top:-110px;
        left:40px;
    }


    #wedding4{
        font-size: 20px;
    }

    #header4_h{
        font-size: 15px;
    }

    #heart3{
        width:30px;
        height: 30px;
    }
}




@media screen and (max-width: 453px){

    #vectorimg {
        width: 80%;
        top:104px;
    }

    .header4{
        height: 400px;
    }

    .header4_h2{
        top:-100px;
        left:40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    #wedding4{
        font-size: 20px;
    }

    #header4_h{
        font-size: 15px;
    }

    #heart3{
        width:30px;
        height: 30px;
    }
}


@media screen and (max-width: 370px) {
    #vectorimg {
        width: 80%;
        top:104px;
    }

    .header4{
        height: 400px;
    }

    .header4_h2{
        top:-50px;
        left:40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    #wedding4{
        font-size: 15px;
    }

    #header4_h{
        font-size: 10px;
    }

    #heart3{
        width:30px;
        height: 30px;
    }

}







.header5{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0f8f8;
    overflow: hidden;
}

.main5{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:200px;
}

.main5-image1{
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    bottom:-80px;
}
.main5-image2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
    top:-80px;
}

#main5-image1-child1,#main5-image1-child2,#main5-image2-child1,#main5-image2-child2{
    /* height:270px;
    width:270px; */
    max-width: 100%; 
    height: auto;
}

.content5{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;

}

.main5-images{
    display: flex;
    /* justify-content: space-between; */
    gap:20px;
}


#content5_h{
    font-size: 40px;
    color: rgb(55, 54, 54);
    text-align: center;
}

#p4{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#button7{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    width:225px;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 27px;
    font-weight: lighter;
}

#button7:hover{
    background-color:grey;
}


@media screen and (max-width: 761px) {
    .main5-images {
        flex-direction: column;
        align-items: center;
    }

    .main5-image1{
        position: relative;
        display: flex;
        flex-direction: row;
        top:-30px;

    }

    .main5-image2{
        position: relative;
        display:flex;
        flex-direction: row;
        top:5px;
    }

    .main5{
        display: flex;
        flex-direction: column;
        gap:20px;
    }


    #main5-image1-child1,#main5-image1-child2,#main5-image2-child1,#main5-image2-child2{
        height:270px;
        width:270px;

    }
}

@media screen and (max-width: 579px) {
    .main5{
        flex-direction: column;
    }
    .main5-image1,.main5-image2{
        display: flex;
        flex-direction: column;
        gap:5px;

    }

    .main5-images{
         gap:0px;
    }

    #main5-image1-child1,#main5-image1-child2,#main5-image2-child1,#main5-image2-child2{
        height:150px;
        width:150px;
    }
}


@media screen and (max-width: 430px){
    #main5-image1-child1,#main5-image1-child2,#main5-image2-child1,#main5-image2-child2{
        height:130px;
        width:130px;
    }
}




.header6{
    position: relative;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

}

#header6-image1{
    position: relative;
    top:70px;
    left: 16%;
}



#button8{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#button8:hover{
    background-color:grey;
}

.all_li4{
    display: flex;
    flex-direction: column;
    gap:8px;
    list-style: none;
    text-decoration:  rgb(87, 84, 84) underline;
}


#heart4{
    width:70px;
    height:70px;
}

.content6{
    display: flex;
    flex-direction: row;
    gap:40%;
    width:1710px;
}

.content6-2ndpart{
    position: relative;
    left: -150px;
}


#content6-h{
    position: absolute;
    font-size: 36px;
    color: rgb(55, 54, 54);
    text-align: center;
    left:9%;
    
}

.content6-h1{
    display: flex;
    align-items: center;
    margin-top: -40px;

}



#p5{
    color: rgb(87, 84, 84);
    font-size: 15px;
}


.content6-2ndpart{
    position: relative;
    display: flex;
    flex-direction: column;
    right: 280px;
    gap:10px;
}

.content6-2ndpart-child{
    display: flex;
    flex-direction: column;
    position: relative;
    left:300px;
    gap:25px;
    margin-top:-140px;

}

#header6-image2{
    display: flex;
    align-self: flex-end;
    position: absolute;
    top:-130%;
    left:116.5%;
    width:350px;
}


@media screen and (max-width:1653px) { 
    #header6-image2{
        display: none;
    }

    #content6-h{
        position: absolute;
        font-size: 36px;
        color: rgb(55, 54, 54);
        text-align: center;
        left:2%;
    }
}

@media screen and (max-width:1573px) { 

    #content6-h{
        position: absolute;
        font-size: 36px;
        color: rgb(55, 54, 54);
        text-align: center;
        left:2%;
    }
}


@media screen and (max-width:1459px) { 

    #content6-h{
        position: relative;
        font-size: 36px;
        color: rgb(55, 54, 54);
        text-align: center;
        left:2%;
    }

    #header6-image1{
        left:50px;
    }


    .content6-2ndpart-child{
        width:50%;
    }

}




@media screen and (max-width:1300px) { 

    .all_li4{
        display: none;
    }

    .content6-h1{
        flex-direction: column;
        justify-content: center;
    }

    #header6-image1{
        width:500px;
        height: 500px;
    }


    .header6{
        margin-top:-19px;
        flex-direction: column;
        gap:150px;
    }

    .content6-2ndpart-child{
        flex-direction: row;   
        bottom:-100px;
        width:100%;
    }

}


@media screen and (max-width:1039px) { 

    .all_li4{
        display: none;
    }

    .content6-h1{
        flex-direction: column;
        justify-content: center;
    }

    #header6-image1{
        width:500px;
        height: 500px;
    }


    .header6{
        margin-top:-19px;
        flex-direction: column;
        gap:150px;
    }

    .content6-2ndpart-child{
        flex-direction: row;   
        bottom:-100px;
        width:100%;
        left:100px;
    }

}




@media screen and (max-width:831px) { 

    .all_li4{
        display: none;
    }

    .content6-h1{
        flex-direction: column;
        justify-content: center;
    }

    #header6-image1{
        width:500px;
        height: 500px;
    }


    .header6{
        margin-top:-19px;
        flex-direction: column;
        gap:150px;
    }

    .content6-2ndpart-child{
        flex-direction: row;   
        bottom:-100px;
        width:100%;
        left:150px;
    }

}


@media screen and (max-width:596px) { 

    .all_li4{
        display: none;
    }

    .content6-h1{
        flex-direction: column;
        justify-content: center;
    }

    #content6-h{
        font-size:35px;
        left:-15px;
    }

    #header6-image1{
        width:400px;
        height: 400px;
        margin-left: -70px;
    }


    .header6{
        margin-top:-19px;
        flex-direction: column;
        gap:250px;
        justify-content: center;
        align-items: center;
    }

    .content6-2ndpart-child{
        flex-direction: row;   
        bottom:-60px;
    }
    
    #heart4{
        width:50px;
        height: 50px;
    }

    #p5{
        color: rgb(87, 84, 84);
        font-size: 15px;
    }

    #button8{

        height: 46px;
        width: 160px;
    }
    
}


@media screen and (max-width:541px) { 

    #content6-h{
        font-size:35px;
        left:-10px;
    }
}

@media screen and (max-width:476px) { 

    #content6-h{
        font-size:35px;
        left:-5px;
    }
}



@media screen and (max-width:420px) { 

    .all_li4{
        display: none;
    }

    .content6-h1{
        flex-direction: column;
        justify-content: center;
    }

    #content6-h{
        font-size:25px;
        left:-09px;
    }

    #header6-image1{
        width:300px;
        height: 300px;
        margin-left: -70px;
    }


    .header6{
        margin-top:-19px;
        flex-direction: column;
        gap:250px;
        justify-content: center;
        align-items: center;
    }

    .content6-2ndpart-child{
        flex-direction: row;   
        bottom:-60px;
        left:150px;
    }
    
    #heart4{
        width:50px;
        height: 50px;
    }

    #p5{
        color: rgb(87, 84, 84);
        font-size: 15px;
    }

    #button8{

        height: 46px;
        width: 160px;
    }
    
}









.header7{
    position: relative;
    background-image: url(assets/Image\ \(11\).png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}


#texture2-id{
    position: absolute;
    width: 100%;
    height: 390px;
    top:-100px
/* margin-left:-730px;
margin-top:-265px; */;
    /* top:-180px; */
/* top: -180px;
width:700px;
height:320px;
left:-100px; */

}

@media screen and (max-width:1300px){
    #texture2-id{
        display: none;
    }
}


.heart5{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart5-id{
    position: relative;
    height:70px;
    width:70px;
    top:500px;
    left:14px;
}

#whiteheart-id1{
    position: relative;
    top:500px;
    height:100px;
    right:-100px;
}







.header8{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.content8{
    position: absolute;
    left:20%;
}



.content8-buttons{
    display: flex;
    flex-direction: column;
}
#content8-button1,#content8-button1{
    display: flex;
    border: solid black;
    border-radius: 40px;
    height: 46px;
    margin-top: 20px;
    width:419px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    justify-content: space-between;
    align-items: center;
}

#content8-button1:hover{
    background-color: rgb(222, 222, 222);
}



#content8-button2{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
    margin-top: 25px;
    width:419px;
}

#content8-button2:hover{
    background-color:grey;
}

#button8katext{
    margin-left: 10px;
}

#p6{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

#content8-button3{
    margin-bottom: -256.6px;
    border:0;
    outline:0;
    background-color: rgb(28, 209, 209);
    height: 60px;
    width:250px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}
#content8-button3:hover{
    background-color: rgb(11, 222, 222);
}

.content8-button3-father{
    position: relative;
}

#content8-id{
    font-size: 35px;
    color: rgb(55, 54, 54);
}




#content8-button3{
    position: absolute;
    top:190px;
}




#content8-image-child{
    position:absolute;
    /* width:500px;
    right:0;
    top:270px;
    height:800px; */
    right: 0;
    top:40px;
}


@media screen and (max-width:1603px){
    #content8-image-child{
        width:40%;
        top:90px;
    }

}


@media screen and (max-width:1500px){
    #content8-image-child{
        top:100px;
    }
}


@media screen and (max-width:1400px){
    #content8-image-child{
        width:35%;
        top:200px;
    }
}




@media screen and (max-width:1294px){
    #content8-image-child{
        display: none;
    }

    .header8{
        width:100%;
        display: grid;
        place-items: center;

    }
}



@media screen and (max-width:1111px){


    .header8{
        width:100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;

        justify-content: center;

    }
}


@media screen and (max-width:832px){


    .header8{
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;

        justify-content: center;
        /* left:40px; */

    }
}


@media screen and (max-width:755px){


    .header8{
        position: sticky;
        display: flex;
        align-items: center;
        justify-items: center;

        justify-content: center;
        /* left:40px; */
    }

    #content8-button3{
        position: relative;
        top:208px;
    }

}


@media screen and (max-width:530px){


    .header8{
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;

        justify-content: center;
        left:-30px;

    }
}

@media screen and (max-width:990px){
    #content8-image-child{
        display: none;
    }
}


@media screen and (max-width:530px){
    .content8{
        position: relative;
        left:35px;
    }
}



.header9{
    width:100%;
    height:60vh;
    background-image: url("assets/Rectangle.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}


.all_li9{
    display: flex;
    flex-direction: column;
    list-style: none;
    /* align-items: center; */
    justify-content: center;
    gap:40px;
}

.all_li9-father{
    display: flex;
    flex-direction: column;
    gap:40px;
}

#h9{
    font-weight: lighter;
    font-size: 58px;
}
.header9-content1-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.exceptli9{
    color: rgb(87, 84, 84);
    transition: color 0.3s ease;
}

.exceptli9:hover{
    color:black;
}

#button9{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:white;
    height: 46px;
    width: 160px;
    margin-top: 10px;
    cursor:pointer;
    font-size:27px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

#button9:hover{
    background-color:grey;
}

.header9-button-enter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
#account9{
    font-size: 12px;;
}

#p9{
    color: rgb(87, 84, 84);
    font-size: 15px;
}

.header9-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:65px;
}

#h9-content2{
    font-size: 35px;
    color: rgb(55, 54, 54);
}


#header9-content2-button9{
    display: flex;
    border: solid black;
    border-radius: 40px;
    height: 46px;
    margin-top: 20px;
    width:419px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    justify-content: space-between;
    align-items: center;
}

#header9-content2-button9:hover{
    background-color:rgb(233, 229, 229);
}

#header9-content2-button:hover{
    background-color: rgb(222, 222, 222);
}


.header9-content-button10{
    border-radius: 40px;
    border:0;
    outline:0;
    background-color: rgb(68, 65, 65);
    color:azure;
    height:46px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: lighter;
    margin-top: 25px;
    width:419px;
}

.header9-content-button10:hover{
    background-color:grey;
}

#p10{
    color: rgb(87, 84, 84);
    font-size: 15px;
}


.header9-content2{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.header9-form{
    display: flex;
    flex-direction: column;
}

/* .content9-responsive{
    display: flex;
    justify-content: space-between;
    gap:60px;
} */





@media (max-width:964px){


    .header9-content1{
        display: none;
    }


}

@media (max-width:649px){


    .header9-content1{
        display: none;
    }

    .all_li9-father{
        position: relative;
        display: flex;
        flex-direction: row;
        gap:40px;
        top:140px;
    }

    .header9{
        flex-direction: column;
    }

    /* .content9-shape{
        display: none;
    } */

    .rotate-90 {
        position: relative;
        transform: rotate(90deg);
        transform-origin: center;
        left:-50px;
    }

    .header9-content2{
        position: relative;
        top:-120px;
    }    
}


@media (max-width:700px){
    #content8-button3{
        top:190px;
    }
}

@media (max-width:683px){
    #content8-button3{
        top:170px;
    }
}

@media (max-width:569px){
    #content8-button3{
        top:162px;
    }
}

@media (max-width:500px){
    #content8-button3{
        display: none;
    }
}

@media (max-width:563px){
    #content8-button3{
        top:154px;
    }
}
@media (max-width:542px){
    #content8-button3{
        top:126px;
    }
}

@media (max-width:530px){
    #content8-button3{
        top:169px;
    }
}

@media (max-width:456px){
    #content8-button3{
        top:169px;
    }

    .header9{
        height: 80vh;
    }
}

@media all and (display-mode: fullscreen) {
    #content8-button3{
        top:220px;
    }
    .button6-father{
        top:643px;
    }
}
  